## 1. Operators in Python

### Arithmetic Operators  
+, -, *, /, %, **, //

In [1]:
a = 10
b = 3

In [2]:
print(a + b)  # 13 (Addition)

13

In [3]:
print(a - b)  # 7 (Subtraction)

7

In [4]:
print(a * b)  # 30 (Multiplication)

30

In [5]:
print(a / b)  # 3.333... (Division)

3.3333333333333335

In [6]:
print(a % b)  # 1 (Modulus - Remainder)

1

In [7]:
print(a ** b) # 1000 (Exponentiation)

1000

In [8]:
print(a // b) # 3 (Floor Division)

3

### Comparison Operators
==, !=, >, <, >=, <=

In [9]:
a = 10
b = 3

In [10]:
print(a == b)  # False

False

In [11]:
print(a != b)  # True

True

In [12]:
print(a > b)   # True

True

In [13]:
print(a < b)   # False

False

In [14]:
print(a >= b)  # True

True

In [15]:
print(a <= b)  # False

False

### Logical Operators

In [17]:
x = True
y = False

In [18]:
print(x and y)  # False

False

In [19]:
print(x or y)   # True

True

In [21]:
print(not x)    # False

False

### Assignment Operators

In [ ]:
c = 5

In [3]:
c += 2  # c = c + 2 → 7
print(c)

NameError: name 'c' is not defined

In [66]:
c -= 1  # c = c - 1 → 6
print(c)

6

In [67]:
c *= 3  # c = c * 3 → 18
print(c)

18

### Identity Operators (check memory location)

In [27]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

In [31]:
print(list1 is list2)      # False (different objects)

False

In [29]:
print(list1 == list2)      # True (same values)

True

### Membership Operators

In [32]:
fruits = ["apple", "banana", "cherry"]

In [34]:
print("banana" in fruits)      # True

True

In [35]:
print("mango" not in fruits)   # True

True

## 2. Input and Output (I/O)

In [36]:
# Taking user input
name = input("Enter your name: ")
age = int(input("Enter your age: "))  # Convert to integer

Enter your name: 12
Enter your age: 21

In [37]:
# Printing output
print("Hello,", name, "! You are", age, "years old.")

Hello, 12 ! You are 21 years old.

In [38]:
# String formatting (f-strings - Python 3.6+)
print(f"Hello, {name}! You are {age} years old.")

Hello, 12! You are 21 years old.

In [39]:
# Using .format()
print("Hello, {}! You are {} years old.".format(name, age))

Hello, 12! You are 21 years old.

## 3. Control Flow
- **a.** if

In [40]:
num = 10
if num > 0:
    print("Positive")

Positive

- **b.** if-else

In [43]:
num = 0
if num > 0:
    print("Positive")
else:
    print("Zero")

Zero

- **c.** if-elif-else

In [42]:
num = -10
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

## Loops

### for

In [45]:
#For loop
for i in range(5):  # 0 to 4
    print(i)

0
1
2
3
4

In [50]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [52]:
for i in range(2, 10, 2):  # 2 to 9, step=2
    print(i)

2
4
6
8

In [53]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [54]:
student = {"name": "Alice", "age": 20, "grade": "A"}
for key in student:
    print(key, ":", student[key])

name : Alice
age : 20
grade : A

### while loop

In [49]:
# While loop
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

In [55]:
password = ""
while password != "secret":
    password = input("Enter password: ")
print("Access granted!")

Enter password: abc123
Enter password: abc123
Enter password:
Enter password: 0
Enter password: secret
Access granted!

In [56]:
while True:
    user_input = input("Type 'quit' to exit: ")
    if user_input == "quit":
        break
    print("You typed:", user_input)

Type 'quit' to exit: quit

### break

In [57]:
for i in range(10):
    if i == 5:
        break
    print(i)  # Stops at 4

0
1
2
3
4

### continue

In [58]:
for i in range(5):
    if i == 2:
        continue
    print(i)  # Skips 2

0
1
3
4

### pass

In [3]:
for i in range(5):
    if i < 3:
        pass
    print(i)

0
1
2
3
4

## Nested Loops

In [59]:
for i in range(3):       # Outer loop
    for j in range(2):   # Inner loop
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

## Sum of numbers in a list

In [60]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print("Sum:", total)  # 15

Sum: 15

## Finding even numbers

In [61]:
for i in range(10):
    if i % 2 == 0:
        print(i, "is even")

0 is even
2 is even
4 is even
6 is even
8 is even

## Multiplication table

In [62]:
n = 5
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Create the data for the table
data = {
    "Feature": ["Mutable", "Ordered", "Duplicates", "Access", "Syntax", "Use Case"],
    "List": ["Yes", "Yes", "Yes", "Index ([0])", "[1, 2, 3]", "Modifiable sequence"],
    "Tuple": ["No", "Yes", "Yes", "Index ([0])", "(1, 2, 3)", "Fixed sequence"],
    "Set": ["Yes", "No", "No", "No indexing", "{1, 2, 3}", "Unique items, set ops"],
    "Dictionary": ["Yes", "Yes (Python 3.7+)", "Keys: No, Values: Yes", "Key ([\"key\"])", "{\"a\": 1, \"b\": 2}", "Key-value mappings"]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Create a figure and axis
fig, ax = plt.subplots(figsize=(10, 4))  # Adjust size as needed
ax.axis('off')  # Hide axes

# Create table
table = ax.table(cellText=df.values, colLabels=df.columns, cellLoc='center', loc='center')

# Adjust table properties
table.auto_set_font_size(False)
table.set_fontsize(10)
table.scale(1.2, 1.2)  # Adjust scaling for better readability

# Save the table as a PNG
plt.savefig("comparison_table.png", bbox_inches='tight', dpi=300)
plt.close()