In [28]:
print("Hello, World!")

Hello, World!

In [29]:
pip install pykernel

Requirement already satisfied: pykernel in c:\users\hp\miniforge3\lib\site-packages (0.1.6)
Note: you may need to restart the kernel to use updated packages.

In [30]:
age = 21
print(age)

21

### **Data Type**

In [31]:
age = 20
print("Age:", age)

Age: 20

In [32]:
gpa = 3.10
print(gpa)

3.1

In [33]:
type(gpa)

float

In [34]:
name = "kashif"
print(name)

kashif

In [35]:
name = "Alice"
print(type(name))

<class 'str'>

### **Getting User's Input**

In [36]:
f_name = input("Please enter your good name: ")
print(f_name)

python

In [37]:
type(f_name)

str

### **Converting Input to Integer**

In [38]:
roll_no = int(input("Please enter your roll No: "))
print

ValueError: invalid literal for int() with base 10: ''

In [ ]:
type(roll_no)

### **Converting Float to Integer**

In [ ]:
cgpa = float(input("GPA: "))
type(cgpa)

ValueError: could not convert string to float: ''

In [ ]:
z = 3 + 4j
print(z)
print(type(z))

(3+4j)
<class 'complex'>

In [ ]:
a = 5
b = 20

### **Sum**

In [ ]:
sum = a + b
print(sum)

### **substract**

In [ ]:
substract = a - b
print(substract)

### **Mupltiplication**

In [ ]:
mul = a * b
print(mul)

### **Division**

In [ ]:
divide = a/b
print(divide)

In [ ]:
num1 = 10
num2 = 5

print(f"Addition: {num1 + num2}")
print(f"Subtraction: {num1 - num2}")
print(f"Multiplication: {num1 * num2}")
print(f"Division: {num1 / num2}")

### **Changing Data Types Explicitly & Implicitly**

### **1. Implicit Conversion (Automatic)**

In [ ]:
num_int = 2    # int  
num_float = 1.5 # float  
result = num_int + num_float  # Result is float (6.5)  
print(f"Result: {result} (Type: {type(result)})")

### **2. Explicit Conversion (Manual)**

In [ ]:
# Convert string to integer
a = '10' 
a = int(a)
print(type(a)) # int

<class 'int'>

In [ ]:
# Convert string to float
a = '10.5'
a = float(a)
print(type(a)) # float

In [ ]:
# Convert string to boolean
a = 'True'
a = bool(a)
print(type(a)) # bool

In [ ]:
# Convert string to complex
a = '3+4j'
a = complex(a)
print(type(a)) # complex

In [ ]:
# Convert integer to float
a = 10
a = float(a)
print(type(a)) # float

In [ ]:
# Convert integer to string
a = 10
a = str(a)
print(type(a)) # str

In [ ]:
# Convert integer to complex
a = 10
a = complex(a)
print(type(a)) # complex

In [ ]:
# Convert integer to boolean
a = 10
a = bool(a)
print(type(a)) # bool

### **3. Common Use Cases**

In [ ]:
age = input("Enter your age: ")
print(type(age))  # This will be str

In [ ]:
age = int(input("Enter age: "))  # Convert input to integer
print(type(age))  # Check type

### **String Formatting**

In [ ]:
print("Value: " + str(20)

## **String**

### **Concatenated string**

In [ ]:
str1 = "I am student at AWKUM
str2 = "Mardan"

full = str1 + " " + str2 + "."
print(full)

SyntaxError: unterminated string literal (detected at line 1) (1964917153.py, line 1)

### **Upper Case**

In [ ]:
full.upper()

### **Lower Case**

In [ ]:
full.lower()

### **Capitalize**

In [ ]:
full.capitalize()

### **Capital Each Word**

In [ ]:
full.title()

### **Strip**

In [ ]:
full.strip()

### **Replace**

In [ ]:
full.replace("Mardan", "Peshawar")

### **Find**

In [ ]:
full.find('Peshawar')

### **Indexing**

In [ ]:
full[1]

In [ ]:
full[0]

In [ ]:
full[:20]

In [ ]:
full[2:-1]

## Bool

In [ ]:
is_sunny = True

if is_sunny:
    print("It is Sunny")
else:
    print("It is Raining")

In [ ]:
is_raining = True

if is_sunny and is_raining:
    print("It is Sunny")
    
if is_sunny or is_raining:
    print("It is raining")

## List

A list in Python is an ordered, mutable (changeable) collection of items. This means:

Ordered: The items have a defined order, and that order will not change. You can access items by their position (index).

Mutable: You can change, add, or remove items after the list has been created.

Collection: A list can hold items of different data types (integers, floats, strings, even other lists!).

# 1. Creating Lists

In [ ]:
# Empty list
my_list = []
print(my_list) # Output: []

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]
print(numbers) # Output: [1, 2, 3, 4, 5]

In [ ]:
# List of strings
fruits = ["apple", "banana", "cherry"]
print(fruits) # Output: ['apple', 'banana', 'cherry']

In [ ]:
# List with mixed data types
mixed_list = [1, "hello", 3.14, True]
print(mixed_list) # Output: [1, 'hello', 3.14, True]

In [ ]:
# Nested list (list of lists)
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix) # Output: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 2. Accessing List Elements (Indexing)

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])   # Output: apple (first element)
print(fruits[2])   # Output: cherry (third element)
print(fruits[-1])  # Output: date (last element)
print(fruits[-3])  # Output: banana (third to last element)

In [ ]:
# Accessing elements in a nested list
print(matrix[0][1]) # Output: 2 (element at row 0, column 1)

# 3. Slicing Lists
### List Slicing  
Extracts a sub-list from a list using the syntax:  
`list[start:end:step]`  

#### Parameters:  
- **`start`** (optional)  
  - Starting index (*inclusive*).  
  - Default: `0` (beginning of the list).  

- **`end`** (optional)  
  - Ending index (*exclusive*).  
  - Default: `len(list)` (end of the list).  

- **`step`** (optional)  
  - Interval between items.  
  - Default: `1` (every item).

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers[2:7])    # Output: [2, 3, 4, 5, 6] (elements from index 2 up to, but not including, index 7)
print(numbers[:5])     # Output: [0, 1, 2, 3, 4] (elements from the beginning up to index 5)
print(numbers[5:])     # Output: [5, 6, 7, 8, 9] (elements from index 5 to the end)
print(numbers[:])      # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (a copy of the entire list)
print(numbers[::2])    # Output: [0, 2, 4, 6, 8] (every second element)
print(numbers[::-1])   # Output: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] (reverse the list)

# 4. Modifying Lists

## Changing Elements

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange" # Change 'banana' to 'orange'
print(fruits) # Output: ['apple', 'orange', 'cherry']

## Adding Elements

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 99) # Insert 99 at index 1
print(my_list) # Output: [1, 99, 2, 3]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1) # Output: [1, 2, 3, 4, 5]

In [ ]:
# You can also use the `+` operator for concatenation, but it creates a new list
list3 = [1, 2]
list4 = [3, 4]
combined_list = list3 + list4
print(combined_list) # Output: [1, 2, 3, 4]

## Removing Elements

In [ ]:
my_list = [1, 2, 3, 2, 4]
my_list.remove(2) # Removes the first '2'
print(my_list) # Output: [1, 3, 2, 4]

In [ ]:
my_list = [10, 20, 30, 40]
removed_item = my_list.pop(1) # Removes element at index 1 (20)
print(removed_item) # Output: 20
print(my_list)      # Output: [10, 30, 40]

last_item = my_list.pop() # Removes the last element (40)
print(last_item)  # Output: 40
print(my_list)    # Output: [10, 30]

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[2] # Removes element at index 2 (3)
print(my_list) # Output: [1, 2, 4, 5]

del my_list[1:3] # Removes elements from index 1 up to (but not including) index 3
print(my_list) # Output: [1, 5]

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list) # Output: []

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list)) # Output: 5

In [ ]:
my_list = ["a", "b", "c", "b"]
print(my_list.index("b")) # Output: 1
print(my_list.index("b", 2)) # Output: 3 (starts searching from index 2)

In [ ]:
my_list = [1, 2, 2, 3, 2, 4]
print(my_list.count(2)) # Output: 3

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(numbers) # Output: [1, 1, 2, 3, 4, 5, 9]

words = ["banana", "apple", "cherry"]
words.sort(reverse=True)
print(words) # Output: ['cherry', 'banana', 'apple']

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list) # Output: [5, 4, 3, 2, 1]

## Tuple

A tuple in Python is similar to a list in many ways, but with one crucial difference: tuples are immutable.  
    - **Ordered** ✓  
      Like lists, tuple items have a defined order, and that order will not change. You can access items by their position (index).  
    - **Immutable** ✖  
      Once a tuple is created, you cannot change, add, or remove its items. This is the key distinction from lists.  
    - **Heterogeneous Collection** ⊛  
      A tuple can hold items of different data types (integers, floats, strings, even other lists or tuples).

In [ ]:
# Empty tuple
my_tuple = ()
print(my_tuple) # Output: ()

In [ ]:
# Tuple of numbers
numbers_tuple = (1, 2, 3, 4, 5)
print(numbers_tuple) # Output: (1, 2, 3, 4, 5)

In [ ]:
# Tuple of strings
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple) # Output: ('apple', 'banana', 'cherry')

In [ ]:
# Tuple with mixed data types
mixed_tuple = (1, "hello", 3.14, False)
print(mixed_tuple) # Output: (1, 'hello', 3.14, False)

In [ ]:
# Nested tuple (tuple of tuples)
coordinates = ((1, 2), (3, 4), (5, 6))
print(coordinates) # Output: ((1, 2), (3, 4), (5, 6))

In [ ]:
fruits_tuple = ("apple", "banana", "cherry", "date")

print(fruits_tuple[0])   # Output: apple (first element)
print(fruits_tuple[2])   # Output: cherry (third element)
print(fruits_tuple[-1])  # Output: date (last element)

In [ ]:
# Accessing elements in a nested tuple
nested_tuple = ((10, 20), (30, 40))
print(nested_tuple[0][1]) # Output: 20 (element at tuple 0, index 1)

In [ ]:
numbers_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print(numbers_tuple[2:7])    # Output: (2, 3, 4, 5, 6)
print(numbers_tuple[:5])     # Output: (0, 1, 2, 3, 4)
print(numbers_tuple[5:])     # Output: (5, 6, 7, 8, 9)
print(numbers_tuple[:])      # Output: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) (a copy of the entire tuple)
print(numbers_tuple[::2])    # Output: (0, 2, 4, 6, 8)
print(numbers_tuple[::-1])   # Output: (9, 8, 7, 6, 5, 4, 3, 2, 1, 0) (reverse the tuple)

In [ ]:
my_tuple = (1, 2, 3)

# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment
# my_tuple.append(4) # AttributeError: 'tuple' object has no attribute 'append'
# my_tuple.remove(2) # AttributeError: 'tuple' object has no attribute 'remove'
# del my_tuple[1]    # TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple) # Output: (1, 2, 3, 4)

In [ ]:
repeated_tuple = ("a",) * 3
print(repeated_tuple) # Output: ('a', 'a', 'a')

In [ ]:
my_tuple = (10, 20, 30)
print(len(my_tuple)) # Output: 3

In [ ]:
my_tuple = (1, 2, 2, 3, 2)
print(my_tuple.count(2)) # Output: 3

In [ ]:
my_tuple = ("a", "b", "c")
print(my_tuple.index("b")) # Output: 1

In [ ]:
my_tuple = ("red", "green", "blue")
print("green" in my_tuple)    # Output: True
print("yellow" not in my_tuple) # Output: True

## Dictionary

### Dictionary (`dict`)  
An **unordered**, **mutable** collection of key-value pairs, optimized for fast lookups by unique keys.  

#### Key Properties:  
- **Unordered** (Python 3.7+):  
  - Items have no fixed order (though insertion order is preserved in Python 3.7+).  
  - No indexing by position—only by key.  

- **Mutable**:  
  - Can add, modify, or delete key-value pairs after creation.  

- **Keys are Unique**:  
  - Duplicate keys are not allowed (new values overwrite old ones).  

- **Heterogeneous**:  
  - Keys/values can be of any type (but keys must be *hashable*, e.g., strings, numbers, tuples).

## 1. Creating Dictionaries

In [ ]:
# Empty dictionary
my_dict = {}
print(my_dict) # Output: {}

In [ ]:
# Dictionary with string keys and various values
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person) # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
# Dictionary with integer keys
grades = {
    101: "A",
    102: "B+",
    103: "C"
}
print(grades) # Output: {101: 'A', 102: 'B+', 103: 'C'}

In [ ]:
# Dictionary with mixed key types (generally not recommended for readability)
mixed_keys = {
    "name": "Bob",
    1: "one",
    (2, 3): "a tuple key" # Tuples can be keys because they are immutable
}
print(mixed_keys) # Output: {'name': 'Bob', 1: 'one', (2, 3): 'a tuple key'}

In [ ]:
# Dictionary using dict() constructor with keyword arguments
animal = dict(type="dog", breed="Labrador", age=5)
print(animal) # Output: {'type': 'dog', 'breed': 'Labrador', 'age': 5}

In [ ]:
# Dictionary from a list of tuples (each tuple is a key-value pair)
items_list = [("apple", 10), ("banana", 20), ("cherry", 30)]
fruits_inventory = dict(items_list)
print(fruits_inventory) # Output: {'apple': 10, 'banana': 20, 'cherry': 30}

## 2. Accessing Dictionary Values

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person["name"]) # Output: Alice
print(person["age"])  # Output: 30

In [ ]:
# Using the .get() method (recommended for safer access)
# If the key doesn't exist, [] will raise a KeyError, while .get() returns None or a default value.
print(person.get("city"))     # Output: New York
print(person.get("country"))  # Output: None (key 'country' doesn't exist)
print(person.get("zip_code", "N/A")) # Output: N/A (provides a default value if key not found)

## 3. Modifying Dictionaries

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

person["age"] = 31 # Change Alice's age
print(person) # Output: {'name': 'Alice', 'age': 31, 'city': 'New York'}

{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

person["occupation"] = "Engineer" # Add a new key-value pair
print(person) # Output: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

del person["city"]
print(person) # Output: {'name': 'Alice', 'age': 30}

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

removed_age = person.pop("age")
print(removed_age) # Output: 30
print(person)      # Output: {'name': 'Alice', 'city': 'New York'}

In [ ]:
# Using with a default value
job = person.pop("occupation", "Unemployed")
print(job)     # Output: Unemployed (since 'occupation' was not found)
print(person)  # Output: {'name': 'Alice', 'city': 'New York'}

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

last_item = person.popitem()
print(last_item) # Output: ('city', 'New York') (in Python 3.7+)
print(person)    # Output: {'name': 'Alice', 'age': 30}

In [ ]:
person = {"name": "Alice", "age": 30}
person.clear()
print(person) # Output: {}

In [ ]:
my_dict = {"a": 1, "b": 2}
print(len(my_dict)) # Output: 2

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

dict1.update(dict2)
print(dict1) # Output: {'a': 1, 'b': 3, 'c': 4} ( 'b' was updated)

In [ ]:
original_dict = {"name": "Bob", "age": 25}
copied_dict = original_dict.copy()
print(copied_dict) # Output: {'name': 'Bob', 'age': 25}

In [ ]:
copied_dict["age"] = 26
print(original_dict) # Output: {'name': 'Bob', 'age': 25} (original unchanged)
print(copied_dict)   # Output: {'name': 'Bob', 'age': 26}

In [ ]:
keys = ["k1", "k2", "k3"]
default_value = 0
new_dict = dict.fromkeys(keys, default_value)
print(new_dict) # Output: {'k1': 0, 'k2': 0, 'k3': 0}

## Set

A set is an unordered collection of unique and immutable elements. It's an abstract data type inspired by the mathematical concept of a finite set.

## 1. Creating Sets

In [ ]:
# Empty set
# IMPORTANT: Use set() for an empty set, as {} creates an empty dictionary
my_set = set()
print(my_set) # Output: set()

set()

In [ ]:
# Set with initial elements
numbers_set = {1, 2, 3, 4, 5}
print(numbers_set) # Output: {1, 2, 3, 4, 5} (order might vary)

{1, 2, 3, 4, 5}

In [ ]:
# Set from a list (duplicates are automatically removed)
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(my_list)
print(unique_numbers) # Output: {1, 2, 3, 4, 5}

In [ ]:
# Set with mixed immutable data types
mixed_set = {1, "hello", 3.14, True, (1, 2)} # Tuples are immutable, so they can be in a set
print(mixed_set) # Output: {1, 3.14, 'hello', (1, 2)} (True is usually represented as 1 in sets, so it might not show explicitly if 1 is present)

## 2. Adding Elements to a Set

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set) # Output: {1, 2, 3, 4}

my_set.add(2) # Trying to ad


print(my_set) # Output: {1, 2, 3, 4} (no change)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set) # Output: {1, 2, 3, 4, 5, 6}

my_set.update({5, 7, 8}) # Update with another set, duplicates ignored
print(my_set) # Output: {1, 2, 3, 4, 5, 6, 7, 8}

## Removing Elements from a Set

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set) # Output: {1, 2, 4}

# my_set.remove(99) # KeyError: 99

In [ ]:
my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set) # Output: {1, 3, 4}

my_set.discard(99) # No error, simply ignored
print(my_set) # Output: {1, 3, 4}

In [ ]:
my_set = {1, 2, 3}
removed_item = my_set.pop()
print(f"Removed: {removed_item}")
print(my_set) # Output will vary, e.g., Removed: 1, Set: {2, 3}

In [ ]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set) # Output: set()

In [ ]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
set_c = {1, 2}

In [ ]:
print(set_a | set_b)       # Output: {1, 2, 3, 4, 5, 6}
print(set_a.union(set_b))  # Output: {1, 2, 3, 4, 5, 6}

In [ ]:
print(set_a & set_b)              # Output: {3, 4}
print(set_a.intersection(set_b))  # Output: {3, 4}

In [ ]:
print(set_a - set_b)              # Output: {1, 2}
print(set_a.difference(set_b))    # Output: {1, 2}

print(set_b - set_a)              # Output: {5, 6}

In [ ]:
print(set_a ^ set_b)                         # Output: {1, 2, 5, 6}
print(set_a.symmetric_difference(set_b))     # Output: {1, 2, 5, 6}

In [ ]:
print(set_c <= set_a)            # Output: True (all elements of set_c are in set_a)
print(set_a.issubset(set_c))     # Output: False

In [ ]:
print(set_a >= set_c)            # Output: True (set_a contains all elements of set_c)
print(set_c.issuperset(set_a))   # Output: False

In [ ]:
set_d = {7, 8}
print(set_a.isdisjoint(set_b)) # Output: False (they share 3, 4)
print(set_a.isdisjoint(set_d)) # Output: True (no common elements)

In [ ]:
my_set = {1, 2, 3, 4}
print(len(my_set)) # Output: 4

In [ ]:
my_set = {"apple", "banana", "cherry"}
print("banana" in my_set)    # Output: True
print("grape" not in my_set) # Output: True

In [ ]:
my_list = [1, 2, 2, 3, 1]
unique_elements = list(set(my_list)) # Convert list to set (removes duplicates), then back to list
print(unique_elements) # Output: [1, 2, 3] (order might vary)

## Tasks

### **Python Data Types Practice Tasks**

**Instructions:** For each task, write Python code to achieve the stated goal. Focus on creating, accessing, modifying, and using built-in methods of strings, numbers, booleans, lists, tuples, dictionaries.

---

**Task 1: Student Records (Strings, Ints, Lists, Booleans)**

You are setting up initial records for a few students.

1.  **Create a list** called `student_names` with exactly three student names (strings): "Alice", "Bob", "Charlie".
2.  **Add a new student** named "David" to the very end of the `student_names` list.
3.  **Get the name of the student at the second position** (index 1) in the `student_names` list and print it.
4.  **Create a list** called `student_ages` with three corresponding ages (integers): 18, 19, 20.
5.  **Change Bob's age** (the age at index 1 in `student_ages`) to 21. Print the updated `student_ages` list.
6.  **Find the total number of students** currently recorded in `student_names` using a built-in function and print the result.
7.  **Create a boolean variable** `is_enrolled` and assign `True` to it. Print `is_enrolled`.

---

**Task 2: Simple Product Catalog (Dictionaries, Floats, Strings)**

You're creating a small, static catalog for a shop.

1.  **Create a dictionary** called `product_catalog`. Add three products:
    * "Milk" with price `3.49`
    * "Bread" with price `2.99`
    * "Eggs" with price `4.25`
2.  **Add a new product** "Cheese" with a price of `7.50` to the `product_catalog` dictionary.
3.  **Update the price** of "Milk" to `3.29`. Print the `product_catalog` to show the change.
4.  **Retrieve and print the price** of "Bread" from the `product_catalog`.
5.  **Use a dictionary method to get the value for 'Sugar'** from the `product_catalog`, providing a default value of `0.00` if 'Sugar' is not found. Print the result.
6.  **Print all the product names (keys)** from the `product_catalog` using a dictionary method.

---

**Task 3: Unique IDs and Status (Sets, Tuples, Integers)**

You need to manage unique identifiers and fixed data.

1.  **Create a set** called `active_ids` and add the integers `101, 202, 303, 101` to it. Print the set to demonstrate uniqueness.
2.  **Add a new ID** `404` to the `active_ids` set. Print the updated set.
3.  **Remove the ID** `202` from the `active_ids` set using a method that *won't* raise an error if the ID isn't there. Print the set.
4.  **Create another set** called `newly_added_ids` with `303, 505`.
5.  **Find and print the union** of `active_ids` and `newly_added_ids`.
6.  **Create a tuple** called `server_info` containing three fixed pieces of data: `("server_A", "192.168.1.1", True)`. Print this tuple.
7.  **Access and print the IP address** (the second element) from the `server_info` tuple.

---

**Task 4: Favorite Items (Lists, Strings, Tuples)**

Practice organizing favorite items in different ways.

1.  **Create a list** called `favorite_colors` with at least 4 different string colors.
2.  **Access and print the first two colors** from `favorite_colors` using slicing.
3.  **Replace the third color** in `favorite_colors` with a new color. Print the updated list.
4.  **Create a tuple** called `favorite_numbers` with 5 different integer numbers.
5.  **Access and print the last two numbers** from `favorite_numbers` using slicing.
6.  **Try to change the first number** in `favorite_numbers` (this should cause an error - just write the line and add a comment indicating it will fail).
7.  **Concatenate `favorite_colors` and `favorite_numbers`** into a single new list (not a tuple) and print it.

---

**Task 5: Simple User Data Storage (Dictionaries, Lists, Strings, Booleans)**

Represent basic information for a single user.

1.  **Create a dictionary** called `user_profile`. This dictionary should contain the following keys and values:
    * `"username"`: (your choice of string)
    * `"is_admin"`: (boolean, `True` or `False`)
    * `"last_login"`: (a string representing a date, e.g., "2023-04-15")
    * `"preferred_genres"`: (a list of at least two strings, e.g., `["sci-fi", "fantasy"]`)
2.  **Print the value associated with the "username" key**.
3.  **Change the "is_admin" status** of the user in `user_profile` to its opposite boolean value (if `True`, change to `False`; if `False`, change to `True`). Print the updated `user_profile`.
4.  **Add a new key-value pair** to `user_profile`: `"email"` with an email address string of your choice.
5.  **Add a new genre** to the `"preferred_genres"` list inside the `user_profile` dictionary.
6.  **Print the entire `user_profile` dictionary**.

In [ ]:
# 1. Create a list called student_names with exactly three student names (strings): "Alice", "Bob", "Charlie".
student_names = ["Alice", "Bob", "Charlie"]
print("1. Initial student_names:", student_names)

# 2. Add a new student named "David" to the very en
# d of the student_names list.
student_names.append("David")
print("2. student_names after adding David:", student_names)

# 3. Get the name of the student at the second position (index 1) in the student_names list and print it.
second_student = student_names[1]
print("3. Second student:", second_student)

# 4. Create a list called student_ages with three corresponding ages (integers): 18, 19, 20.
student_ages = [18, 19, 20]
print("4. Initial student_ages:", student_ages)

# 5. Change Bob's age (the age at index 1 in student_ages) to 21. Print the updated student_ages list.
student_ages[1] = 21
print("5. student_ages after changing Bob's age:", student_ages)

# 6. Find the total number of students currently recorded in student_names using a built-in function and print the result.
total_students = len(student_names)
print("6. Total number of students:", total_students)

# 7. Create a boolean variable is_enrolled and assign True to it. Print is_enrolled.
is_enrolled = True
print("7. is_enrolled status:", is_enrolled)

1. Initial student_names: ['Alice', 'Bob', 'Charlie']
2. student_names after adding David: ['Alice', 'Bob', 'Charlie', 'David']
3. Second student: Bob
4. Initial student_ages: [18, 19, 20]
5. student_ages after changing Bob's age: [18, 21, 20]
6. Total number of students: 4
7. is_enrolled status: True

In [ ]:
# 1. Create a dictionary called product_catalog. Add three products:
#    "Milk" with price 3.49
#    "Bread" with price 2.99
#    "Eggs" with price 4.25
product_catalog = {
    "Milk": 3.49,
    "Bread": 2.99,
    "Eggs": 4.25
}
print("1. Initial product_catalog:", product_catalog)

# 2. Add a new product "Cheese" with a price of 7.50 to the product_catalog dictionary.
product_catalog["Cheese"] = 7.50
print("2. product_catalog after adding Cheese:", product_catalog)

# 3. Update the price of "Milk" to 3.29. Print the product_catalog to show the change.
product_catalog["Milk"] = 3.29
print("3. product_catalog after updating Milk price:", product_catalog)

# 4. Retrieve and print the price of "Bread" from the product_catalog.
bread_price = product_catalog["Bread"]
print("4. Price of Bread:", bread_price)

# 5. Use a dictionary method to get the value for 'Sugar' from the product_catalog,
#    providing a default value of 0.00 if 'Sugar' is not found. Print the result.
sugar_price = product_catalog.get("Sugar", 0.00)
print("5. Price of Sugar (with default):", sugar_price)

# 6. Print all the product names (keys) from the product_catalog using a dictionary method.
product_names = product_catalog.keys()
print("6. Product names (keys):", list(product_names)) # Convert to list for clear printing

1. Initial product_catalog: {'Milk': 3.49, 'Bread': 2.99, 'Eggs': 4.25}
2. product_catalog after adding Cheese: {'Milk': 3.49, 'Bread': 2.99, 'Eggs': 4.25, 'Cheese': 7.5}
3. product_catalog after updating Milk price: {'Milk': 3.29, 'Bread': 2.99, 'Eggs': 4.25, 'Cheese': 7.5}
4. Price of Bread: 2.99
5. Price of Sugar (with default): 0.0
6. Product names (keys): ['Milk', 'Bread', 'Eggs', 'Cheese']

In [ ]:
# 1. Create a set called active_ids and add the integers 101, 202, 303, 101 to it. Print the set to demonstrate uniqueness.
active_ids = {101, 202, 303, 101} # 101 is duplicated but set stores it only once
print("1. Initial active_ids (duplicates removed):", active_ids)

# 2. Add a new ID 404 to the active_ids set. Print the updated set.
active_ids.add(404)
print("2. active_ids after adding 404:", active_ids)

# 3. Remove the ID 202 from the active_ids set using a method that won't raise an error if the ID isn't there. Print the set.
active_ids.discard(202)
print("3. active_ids after discarding 202:", active_ids)
active_ids.discard(999) # Demonstrating discard without error
print("   active_ids after trying to discard non-existent 999:", active_ids)


# 4. Create another set called newly_added_ids with 303, 505.
newly_added_ids = {303, 505}
print("4. newly_added_ids:", newly_added_ids)

# 5. Find and print the union of active_ids and newly_added_ids.
union_ids = active_ids.union(newly_added_ids)
print("5. Union of active_ids and newly_added_ids:", union_ids)

# 6. Find and print the intersection of active_ids and newly_added_ids.
intersection_ids = active_ids.intersection(newly_added_ids)
print("6. Intersection of active_ids and newly_added_ids:", intersection_ids)

# 7. Create a tuple called server_info containing three fixed pieces of data: ("server_A", "192.168.1.1", True). Print this tuple.
server_info = ("server_A", "192.168.1.1", True)
print("7. server_info tuple:", server_info)

# 8. Access and print the IP address (the second element) from the server_info tuple.
ip_address = server_info[1]
print("8. IP address from server_info:", ip_address)

In [ ]:
# 1. Create a list called favorite_colors with at least 4 different string colors.
favorite_colors = ["Red", "Blue", "Green", "Yellow", "Purple"]
print("1. Initial favorite_colors:", favorite_colors)

# 2. Access and print the first two colors from favorite_colors using slicing.
first_two_colors = favorite_colors[0:2] # or favorite_colors[:2]
print("2. First two colors:", first_two_colors)

# 3. Replace the third color in favorite_colors with a new color. Print the updated list.
favorite_colors[2] = "Orange" # Green (index 2) is replaced
print("3. favorite_colors after replacing third color:", favorite_colors)

# 4. Create a tuple called favorite_numbers with 5 different integer numbers.
favorite_numbers = (7, 13, 21, 5, 42)
print("4. favorite_numbers tuple:", favorite_numbers)

# 5. Access and print the last two numbers from favorite_numbers using slicing.
last_two_numbers = favorite_numbers[-2:]
print("5. Last two numbers:", last_two_numbers)

# 6. Try to change the first number in favorite_numbers (this should cause an error - just write the line and add a comment indicating it will fail).
# favorite_numbers[0] = 100 # This line would cause a TypeError: 'tuple' object does not support item assignment
print("6. Attempting to change a tuple element (this line would cause a TypeError if uncommented): favorite_numbers[0] = 100")

# 7. Concatenate favorite_colors and favorite_numbers into a single new list (not a tuple) and print it.
combined_list = favorite_colors + list(favorite_numbers) # Convert tuple to list for concatenation into a list
print("7. Combined list of colors and numbers:", combined_list)

In [ ]:
# 1. Create a dictionary called user_profile. This dictionary should contain the following keys and values:
#    "username": (your choice of string)
#    "is_admin": (boolean, True or False)
#    "last_login": (a string representing a date, e.g., "2023-04-15")
#    "preferred_genres": (a list of at least two strings, e.g., ["sci-fi", "fantasy"])
user_profile = {
    "username": "coder_kid",
    "is_admin": False,
    "last_login": "2024-05-25",
    "preferred_genres": ["action", "comedy"]
}
print("1. Initial user_profile:", user_profile)

# 2. Print the value associated with the "username" key.
username_value = user_profile["username"]
print("2. Username:", username_value)

# 3. Change the "is_admin" status of the user in user_profile to its opposite boolean value
#    (if True, change to False; if False, change to True). Print the updated user_profile.
# This requires a bit of a trick without 'if'. We can use not operator or direct assignment.
user_profile["is_admin"] = not user_profile["is_admin"] # If it was False, it becomes True. If True, becomes False.
print("3. user_profile after toggling is_admin:", user_profile)

# 4. Add a new key-value pair to user_profile: "email" with an email address string of your choice.
user_profile["email"] = "coder.kid@example.com"
print("4. user_profile after adding email:", user_profile)

# 5. Add a new genre to the "preferred_genres" list inside the user_profile dictionary.
user_profile["preferred_genres"].append("thriller")
print("5. user_profile after adding a new genre:", user_profile)

# 6. Print the entire user_profile dictionary.
print("6. Final user_profile:", user_profile)